<h1>Products</h1>
<% @products.each do |product| %>
	<p><%= product['name'] %> <%= product['price']%>$ <%= product['description']%></p>
	<p></p>
<% end %>

<a href="../users/login"><h3>Press here to log in</h3></a>