<h1>Please login</h1>

<form action="" method="post">
    <label for="email">Email</label>
    <input type="text" name="email" id="email"></input>
    <label for="password">password</label>
    <input type="text" name="password" id="password"></input>
    <button type="submit">login</button>
</form>

<h2>Not registered</h2>
<a href="register">Click here to register</a>