<h1>Please register</h1>

<form action="" method="post">
    <label for="first_name">Name</label>
    <input type="text" name="first_name" id="first_name">

    <label for="last_name">Surname</label>
    <input type="text" name="last_name" id="last_name">

    <label for="adress">Adress</label>
    <input type="text" name="adress" id="adress">

    <label for="payment_method">Payment method</label>
    <input type="text" name="payment_method" id="payment_method">

    <label for="phone">Phone number</label>
    <input type="text" name="phone" id="phone">

    <label for="email">Email</label>
    <input type="text" name="email" id="email">
    
    <label for="password">Password</label>
    <input type="text" name="password" id="password">
    <button type="submit">register</button>
</form>